<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Acquisition" type="MIX2.Acquisition.Configuration.AcquisitionSection, MIX2.Acquisition"/>
		<section name="Security" type="IntuitiveLabs.Configuration.SecuritySection, MIX2Pusher"/>
	</configSections>

	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Pusher.log"/>
				<add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener"/>

				<remove name="Default"/>
			</listeners>
		</trace>
	</system.diagnostics>

	<Security>	
		
		<Salt Value="xc45tg*$hyt6@)78asa"/>
		
		<NetworkCredentials>
			<NetworkCredential ID="TivoliEndpoint" UserName="opxsvc" Password="7opxsvc77"/>
			<NetworkCredential ID="Updater" UserName="" Password=""/>
			<NetworkCredential ID="SourceX" UserName="" Password=""/>
			<NetworkCredential ID="SourceY" UserName="" Password=""/>
			<NetworkCredential ID="RequestTest" UserName="Art" Password="Bart"/>
			<NetworkCredential ID="ServiceTest" Domain="" UserName="" Password=""/>
		</NetworkCredentials>		
		
		<TokenProviders>
			
			<TokenProvider Name="ServiceToken">
				<Connection Type="WebService" ConnectionString="url=http://localhost/Authentication.asmx; method=Login; Domain=[$Domain]; Username=[$Username]; Password=[$Password]; SessionLength=P1DT1H; service type=MIX2.Acquisition.Rapid7.IntuitiveLabs.Userbase.Authentication;" Timeout="600" NetworkCredentialID="ServiceTest"/>
				<MIXLibrary File="MIX2.Acquisition.Rapid7.dll"/>
			</TokenProvider>
			
			<TokenProvider Name="TokenRequestTest">
				<Connection Type="WebRequest" ConnectionString="url=http://services.mix.phactori.pvt/TestSources/DummyTokenProvider.aspx; method=GET; query=Username=[$Username]&amp;Password=[$Password]; " Timeout="600" NetworkCredentialID="RequestTest"/>
				<MIXLibrary File="MIX2.Acquisition.Rapid7.dll"/>
			</TokenProvider>
			
		</TokenProviders>
	
	</Security>

	<Acquisition>
		<DataSources>

      <DataSource Name="VMWare">
        <Connection Type="WebService" ConnectionString="url=http://localhost/BigFix; Username=[$Username]; Password=[$Password]; service type=MIX2.Acquisition.BigFix.SoapAPI2;" Timeout="600" NetworkCredentialID="TivoliEndpoint"/>
        <MIXLibrary File="MIX2.Acquisition.VMWare.dll"/>
        <Map Uri="DataSources/BigFix7.xml"/>
      </DataSource>

      <DataSource Name="TivoliEndpoint">
        <Connection Type="WebService"  ConnectionString="url=http://localhost; DefaultExpression=number of bes computers; Username=[$Username]; Password=[$Password]; service type=MIX2.Acquisition.IBM.Tivoli.EndpointService.RelevanceBinding;" Timeout="1800" NetworkCredentialID="TivoliEndpoint"/>
        <MIXLibrary File="MIX2.Acquisition.IBM.dll" />
        <Map Uri="DataSources/TivoliEndpoint.xml"/>
      </DataSource>
			
			<DataSource Name="SourceX">
				<Connection Type="Database" Invariant="System.Data.SqlClient" ConnectionString="data source=localhost;initial catalog=SourceX;persist security info=False;" Timeout="600" NetworkCredentialID="SourceX"/>
				<MIXLibrary File="MIX2.Acquisition.dll"/>
				<Map Uri="DataSources/SourceXMap.xml"/>
			</DataSource>
			
			<DataSource Name="BinaryTest">
				<Connection Invariant="System.Data.SqlClient" ConnectionString="data source=localhost;initial catalog=SourceY;persist security info=False; Trusted_Connection=true;" Timeout="600" NetworkCredentialID="SourceY"/>
				<MIXLibrary File="MIX2.Acquisition.dll"/>
				<Map Uri="DataSources/BinaryTest.xml"/>
			</DataSource>

			<DataSource Name="FOP">
				<Connection Invariant="System.Data.SqlClient" ConnectionString="data source=localhost;initial catalog=SourceY;persist security info=False; Trusted_Connection=true;" Timeout="600" NetworkCredentialID="SourceY"/>
				<MIXLibrary File="MIX2.Acquisition.dll"/>
				<Map Uri="DataSources/FOP.xml"/>
			</DataSource>

			<DataSource Name="RequestTest">
				<Connection Type="WebRequest" ConnectionString="url=http://localhost/TestSource.aspx; method=POST;" TokenProvider="TokenRequestTest" Timeout="600" NetworkCredentialID="RequestTest"/>
				<MIXLibrary File="MIX2.Acquisition.Rapid7.dll"/>
				<Map Uri="DataSources/RequestTest.xml"/>
			</DataSource>

			<DataSource Name="ServiceTest">
				<Connection Type="WebService" ConnectionString="url=http://localhost/UserManagement.asmx; Username=[$Username]; Password=[$Password]; service type=MIX2.Acquisition.Rapid7.IntuitiveLabs.Userbase.UM.UserManagement;" Timeout="600" TokenProvider="ServiceToken" NetworkCredentialID="ServiceTest"/>
				<MIXLibrary File="MIX2.Acquisition.Rapid7.dll"/>
				<Map Uri="DataSources/RequestTest.xml"/>
			</DataSource>

			<DataSource Name="TestXml"> 
				<Connection Type="File" ConnectionString="path=c:\Users\Administrator\Documents\MIX2\TestSources\TestXmlWithNs.xml;" Timeout="600" NetworkCredentialID="RequestTest"/>
				<MIXLibrary File="MIX2.Acquisition.dll"/>
				<Map Uri="DataSources/TestMapForNs.xml"/>
			</DataSource>

			<DataSource Name="TestXmlFromWeb">
				<Connection Type="WebRequest" ConnectionString="url=http://services.mix.phactori.pvt/TestSources/TestSource1.xml?MyToken=[$Token];query=vanya=log&amp;lo=[$Password]; method=GET;" Timeout="600" NetworkCredentialID="RequestTest" TokenProvider="TokenRequestTest"/>
				<MIXLibrary File="MIX2.Acquisition.dll"/>
				<Map Uri="DataSources/TestMapForNs.xml"/>
			</DataSource>


		</DataSources>
    <!--Updater Url="http://localhost:8004/Recognition.asmx" MinTimeout="10000" MaxTimeout="15000" Attempts="10" NetworkCredentialID="Updater"/-->

    <Updater Url="https://localhost:9143/Recognition.asmx" MinTimeout="90000" MaxTimeout="180000" Attempts="1" NetworkCredentialID="Updater"/>


  </Acquisition>

	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true"/>
		</settings>
	</system.net>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IRecognition">
     <security mode="Transport" />
    </binding>
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="https://localhost:9143/Recognition.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IRecognition" contract="ServiceProxies.Recognition.IRecognition"
    name="BasicHttpBinding_IRecognition" />
  </client>
 </system.serviceModel>
</configuration>
