<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Domain" value="IPNetworking"/>
    <add key="MaxThreads" value="5"/>
    <add key="ReadFrequency" value="PT0M10S"/>
    <add key="ReadCount" value="10"/>
    <add key="QueueName" value="Test"/>
  </appSettings>
  <connectionStrings>
    <add name="MIX2.Registry" connectionString="data source=localhost\INTUITIVELABS;initial catalog=MIX2Registry-V2;persist security info=False;user id=opx;Password=oykot2007@;"/>
    <add name="MIX2.Cube" connectionString="data source=localhost\INTUITIVELABS;initial catalog=MIX2Cube;persist security info=False;user id=opx;Password=oykot2007@"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
