<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Domain" value ="IPNetworking"/>
    <add key="ReadFrequency" value ="PT1M"/>
    <add key="ReadCount" value ="1"/>
    <add key="QueueName" value="Test"/>
  </appSettings>
  <connectionStrings>
    <add name="MIX2.Registry" connectionString="data source=localhost\INTUITIVELABS;initial catalog=MIX2Registry-V2;persist security info=False;user id=opx;Password=oykot2007@;"/>
    <add name="MIX2.Cube" connectionString="data source=localhost\INTUITIVELABS;initial catalog=MIX2Cube;persist security info=False;user id=opx;Password=oykot2007@"/>
  </connectionStrings>
</configuration>