html {
  position: relative;
  height: 100%;
  margin: 0px;
  padding: 0px; }

body {
  padding-top: 50px;
  padding-bottom: 20px;
  width: 100%;
  max-width: 700px;
  position: relative;
  height: 100%;
  margin: 0px;
  padding: 0px; }

/************************Begin header section***************************************************/
#header {
  position: relative; }

/************************End header section***************************************************/
/************************Begin Content section***************************************************/
#content {
  height: 80%;
  background-color: #dddddd; }

/************************End header section***************************************************/
/************************Begin footer section***************************************************/
#footer {
  position: relative; }

/************************End footer section***************************************************/
/************************Begin Menu Class section***************************************************/
.menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 10%;
  align-items: center; }

.topMenuItem {
  position: relative;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center; }

.bottomMenuItem {
  position: relative;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center; }

.menuItemGraphic {
  position: relative;
  height: 60%;
  margin: 0;
  padding: 0; }

.menuItemLink {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center; }

/************************End Menu Class section***************************************************/
/***********************************Begin Content Section********************************************/
/*[tk] I want this to only do this inside another expandable list item I think.
    Or maybe not. I want to create a general expandable list item I can use with
    different pages and different classes
*/
/***********************************End Content Section********************************************/

