<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MIX2.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="MIX.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MIX2.Data.Properties.Settings>
            <setting name="MIX_Data_MIX2_Recognition_WebService_Recognition" serializeAs="String">
                <value>http://services.mix.phactori.pvt/Recognition.asmx</value>
            </setting>
        </MIX2.Data.Properties.Settings>
        <MIX.Data.Properties.Settings>
            <setting name="MIX_Data_MIX2_Recognition_WebService_Recognition" serializeAs="String">
                <value>http://dev.mix2.opxsystems.net/Recognition.asmx</value>
            </setting>
        </MIX.Data.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRecognition">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:9143/Recognition.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRecognition" contract="ServiceProxies.Recognition.IRecognition"
                name="BasicHttpBinding_IRecognition" />
        </client>
    </system.serviceModel>
</configuration>
